@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Inter: 'Inter',sans-serif; 
    --White: #FFFFFF;
    --Black: #000000;
    --Blue:#0431c7;
}

body {
    display: flex;
    justify-content: center;
    max-height: 100vh; /*'vh' means "viewport height*/
    width: 100%;
    font-family: var(--Inter);
    background-color:  #f2f2f2;
    /* padding-left:  50px; */
}

.feature-details {
    display: flex;
    flex-direction: row;
    background-color: var(--White);
    padding: 2rem;
    gap:2rem;
}

.details {
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    gap: 1rem;
}

.feature-details img {
    width:50%
}